/** @format */

.list-link {
	display: block;
}

.store-navbar {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	background-color: #fcfcfc;
	box-shadow: 0 2px 4px -1px rgb(0 0 0 / 20%), 0 4px 5px 0 rgb(0 0 0 / 14%),
		0 1px 10px 0 rgb(0 0 0 / 12%);
}

.navbar-quantity-title {
	padding: 0 10px;
}

.spacer-navbar {
	flex-grow: 1 !important;
}

.product-list-main-container {
	width: 100%;
	max-width: 1180px;
	padding: 10px;
	margin: auto;
}

#productExampleList ul,
#cart ul {
	padding: 0;
	list-style-type: none;
}

.product-list-example {
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 10px;
	margin: 10px;
}

#hpOutput {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.api-global-container {
	width: 25%;
	max-width: 25%;
}

.api-main-container {
	margin: 5px;
	text-align: center;
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 20px;
	cursor: pointer;
	background-color: #fbfbfb;
	filter: grayscale();
	transition: 0.3s ease;
}

.api-main-container:hover {
	filter: none;
	transition: 0.3s ease;
}

.api-image-container {
	width: 100%;
	overflow: hidden;
	max-width: 295px;
	height: 295px;
	margin: auto;
	border-radius: 100%;
}

.api-image {
	position: relative;
	width: 100%;
}

#productExampleList ul {
	row-gap: 0px;
	display: flex;
	flex-flow: row wrap;
}

#productExampleList ul li {
	display: block;
	flex: 0 0 25%;
	max-width: 25%;
}

.item-product-list {
	margin: 5px;
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 5px;
}

.item-product-list-image {
	width: 100%;
	height: auto;
}
